.sobre-banner {
  position: relative;
  background-color: $lightGrey;
  height: calc(100vh - 64px);
  min-height: 620px;
  z-index: 1;
  overflow-x: hidden;

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    h1 {
      max-width: 520px;
      color: $blue;
      font-size: 9vw;
      line-height: 9.5vw;
      font-weight: bold;
    }
  }

  .circle1,
  .circle2,
  .circle3 {
    position: absolute;
    border-radius: 50%;
    background-color: $lightBlue;
    z-index: -1;
  }

  .circle1 {
    bottom: 0;
    left: -20vw;
    width: 40vw;
    max-width: 380px;
    height: 40vw;
    max-height: 380px;
  }
}

.banner-sobre-wrapper {
  display: flex;
  flex-direction: column;
}

.banner-sobre-img {
  max-width: 480px;
  align-self: center;
}

@media screen and (min-width: 768px) {
  .sobre-banner {
    height: auto;
    padding: 128px 0;

    .container h1 {
      font-size: 48px;
      line-height: 54px;
    }

    .circle2 {
      bottom: 0;
      right: -20vw;
      width: 40vw;
      max-width: 440px;
      height: 40vw;
      max-height: 440px;
    }

    .circle3 {
      background-color: $shineBlue;
      bottom: 25vw;
      right: -20vw;
      width: 30vw;
      max-width: 320px;
      height: 30vw;
      max-height: 320px;
    }
  }

  .banner-sobre-wrapper {
    margin-top: 64px;
    flex-direction: row;

    p {
      max-width: 380px;
      font-size: 22px;
      line-height: 34px;
    }
  }
}

@import './svg/bannerVector';
