.junte-se {
  width: 100%;
  padding: 64px 0;
  background-color: $lightGrey;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      color: $blue;
      font-size: 32px;
      font-weight: normal;
      text-align: center;
    }

    > p {
      max-width: 420px;
      margin-bottom: 64px;
      font-weight: lighter;
      letter-spacing: 0.05rem;
      line-height: 27px;
      text-align: center;
    }
  }
}

@media screen and (min-width: 768px) {
  .junte-se {
    padding: 128px 0;

    .container {
      h2 {
        font-size: 48px;
      }
    }
  }

  .descricao-funcionario {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@import './descricao';
@import './svg/junteseVector';
