.como {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 64px 0;
  display: flex;
  align-items: center;
  background-color: $blue;
  z-index: 1;
  overflow: hidden;

  .container {
    display: flex;
    flex-direction: column-reverse;
  }

  .como-wave-dark {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    z-index: -1;
  }
}

.como-txt {
  max-width: 480px;
  position: relative;
  margin-bottom: 32px;
  color: #fff;
  @extend %beforeVector;

  p {
    max-width: 380px;
    color: #fff;
  }
}

.como-img {
  width: 100%;
  max-width: 480px;
  align-self: center;
}

@media screen and (min-width: 768px) {
  .como {
    padding: 128px 0;
  }
}

@media screen and (min-width: 1050px) {
  .como {
    .container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .como-wave-dark {
      left: 0;
    }
  }

  .como-txt {
    margin-left: 64px;
  }
}

@import './svg/comoVector';
