.compromisso {
  width: 100%;
  background-color: $lightGrey;
  padding: 128px 0 0;

  .container {
    display: flex;
    flex-direction: column;
  }
}

.compromisso-txt {
  position: relative;
  @extend %beforeVector;

  p {
    margin: 0;
    color: $black;
  }
}

.compromisso-img {
  margin: 32px 0 64px;

  &:nth-of-type(3) {
    order: 4;
  }

  svg {
    width: 100%;
    height: auto;
    overflow: visible;
  }
}

@media screen and (min-width: 768px) {
  .compromisso .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    align-items: center;
  }

  .compromisso-txt {
    width: 70%;
    justify-self: center;
  }

  .compromisso-img:nth-of-type(3) {
    order: 0;
  }
}

@media screen and (min-width: 1050px) {
  .compromisso {
    padding: 256px 0 64px;

    .container {
      gap: 0;
    }
  }
}

@import './svg/compromissoVector';
