.necessidade {
  position: relative;
  width: 100%;
  background-color: #fff;
  padding: 64px 0 0;
  z-index: 1;

  .container h2 {
    max-width: 460px;
    color: $blue;
    font-size: 32px;
    letter-spacing: 0.25rem;
  }

  .banner-wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    z-index: -1;
  }
}

.necessidade-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.necessidade-txt p {
  font-size: 15px;
  letter-spacing: 0.08rem;
  line-height: 25px;
}

@media screen and (min-width: 768px) {
  .necessidade {
    padding: 128px 0 0;

    .container h2 {
      font-size: 48px;
    }
  }

  .necessidade-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    p {
      max-width: 360px;
    }
  }
}

@media screen and (min-width: 1050px) {
  .necessidade {
    padding: 128px 0 0;

    .container h2 {
      max-width: 500px;
      font-size: 54px;
      line-height: 62px;
    }

    .banner-wave {
      width: 100%;
    }
  }
}

@import './necessidadeItems';
