$blue: #1250b3;
$lightBlue: #37a4d6;
$shineBlue: #00c3ff;
$darkBlue: #002740;
$veryDarkBlue: #00223f;
$grey: #707070;
$lightGrey: #f2f5f7;
$black: #131617;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 16px;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 1rem 0;
  color: $black;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.02rem;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.05rem;
}

.container {
  width: 90%;
  max-width: 1050px;
  margin: 0 auto;
}

.btn-cta {
  padding: 8px 32px;
  display: inline-block;
  background-color: $lightBlue;
  border-radius: 32px;
  border: 2px solid $lightBlue;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  transition: 0.3s background-color, 0.3s color;
  transition-timing-function: ease-out;

  &:hover {
    background-color: #fff;
    color: $lightBlue;
  }

  &.lighter {
    background-color: $shineBlue;
    border: 2px solid $shineBlue;

    &:hover {
      color: $shineBlue;
      background-color: #fff;
    }
  }
}

%beforeVector {
  &::before {
    content: '';
    position: absolute;
    top: -16px;
    left: 0;
    width: 64px;
    height: 2px;
    background-color: $lightBlue;
  }
}

.empurra {
  height: 64px;
}

@import './scss/header/header';
@import './scss/home/index';
@import './scss/sobre/index';
@import './scss/solucoes/index';
@import './scss/cobertura/index';
@import './scss/seguranca/index';
@import './scss/contato/index';
@import './scss/juntese/index';
@import './scss/footer/footer';
@import './animation';
