* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif; }

body {
  font-size: 16px; }

ul,
ol,
li {
  list-style: none; }

a {
  text-decoration: none; }

p {
  margin: 1rem 0;
  color: #131617;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.02rem; }

h1,
h2,
h3,
h4 {
  letter-spacing: 0.05rem; }

.container {
  width: 90%;
  max-width: 1050px;
  margin: 0 auto; }

.btn-cta {
  padding: 8px 32px;
  display: inline-block;
  background-color: #37a4d6;
  border-radius: 32px;
  border: 2px solid #37a4d6;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  transition: 0.3s background-color, 0.3s color;
  transition-timing-function: ease-out; }
  .btn-cta:hover {
    background-color: #fff;
    color: #37a4d6; }
  .btn-cta.lighter {
    background-color: #00c3ff;
    border: 2px solid #00c3ff; }
    .btn-cta.lighter:hover {
      color: #00c3ff;
      background-color: #fff; }

.como-txt::before, .compromisso-txt::before, .equipe .container h2::before, .auditoria-content h2::before, .sobre-demais-item::before {
  content: '';
  position: absolute;
  top: -16px;
  left: 0;
  width: 64px;
  height: 2px;
  background-color: #37a4d6; }

.empurra {
  height: 64px; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px 0;
  background-color: #fff;
  z-index: 999; }
  .header nav {
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }

.header-buttons {
  display: flex;
  align-items: center; }

.choose-language {
  position: relative;
  height: 16px; }
  .choose-language.active ul {
    display: block; }
  .choose-language.active .current img {
    transform: rotate(180deg); }
  .choose-language .current {
    display: flex;
    align-items: center;
    color: #1250b3; }
    .choose-language .current img {
      width: 12px;
      margin-left: 4px; }
  .choose-language ul {
    position: absolute;
    top: calc(100% + 8px);
    left: 50%;
    padding: 8px;
    display: none;
    background-color: #fff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    transform: translate3d(-50%, 0, 0); }
    .choose-language ul a {
      padding: 4px;
      display: block;
      color: #131617; }

.header-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 70vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate3d(70vw, 0, 0);
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: 0.5s transform ease-out; }
  .header-wrapper.active {
    transform: translate3d(0, 0, 0); }
  .header-wrapper ul {
    display: flex;
    align-items: center;
    flex-direction: column; }
    .header-wrapper ul a {
      display: block;
      padding: 8px;
      text-align: center;
      color: #131617;
      text-transform: uppercase; }
  .header-wrapper .btn-cta {
    margin-top: 16px; }

.menu-hamb {
  width: 32px;
  height: 24px;
  margin-left: 16px;
  padding: 4px;
  background-color: transparent;
  border: none;
  z-index: 9; }
  .menu-hamb::before, .menu-hamb::after {
    content: ''; }
  .menu-hamb::before, .menu-hamb::after,
  .menu-hamb span {
    width: 100%;
    height: 2px;
    display: block;
    background-color: #1250b3;
    margin-bottom: 4px;
    transition: 0.5s transform ease-out; }
  .menu-hamb.active::before {
    transform: rotate(-45deg) translate3d(-4px, 4px, 0); }
  .menu-hamb.active span {
    transform: rotate(45deg); }
  .menu-hamb.active::after {
    transform: scale(0); }

.banner {
  position: relative;
  width: 100%;
  height: calc(100vh - 64px);
  min-height: 620px;
  z-index: 1; }
  .banner .container {
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column; }
  .banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1; }

.banner-wrapper h1 {
  margin-bottom: 16px;
  font-size: 7.5vw;
  font-weight: lighter;
  line-height: 8vw;
  color: #1250b3; }

.banner-frases {
  width: 100%;
  margin: 16px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }
  .banner-frases span {
    width: 40%;
    margin: 8px 0;
    font-size: 12px;
    line-height: 19px; }

#mouse-vector #scroll {
  animation: scroll 3s ease infinite;
  transform-origin: top;
  transform-box: fill-box; }

@keyframes scroll {
  0% {
    transform: scale(0); }
  60%,
  100% {
    transform: scale(1); } }

#banner-vector {
  width: 100%;
  height: auto;
  overflow: visible; }
  #banner-vector #head {
    animation: bannerHead 5s ease infinite;
    transform-origin: bottom;
    transform-box: fill-box; }
  #banner-vector #euro {
    transform: scale(0);
    animation: bannerMoeda 10s ease infinite;
    transform-origin: center;
    transform-box: fill-box; }
  #banner-vector #dolar {
    transform: scale(0);
    animation: bannerMoeda 10s ease infinite;
    animation-delay: 1s;
    transform-origin: center;
    transform-box: fill-box; }
  #banner-vector #libra {
    transform: scale(0);
    animation: bannerMoeda 10s ease infinite;
    animation-delay: 2s;
    transform-origin: center;
    transform-box: fill-box; }
  #banner-vector #wifi #big {
    transform: scale(0);
    animation: bannerMoeda 10s ease infinite;
    animation-delay: 2s;
    transform-origin: center;
    transform-box: fill-box; }
  #banner-vector #wifi #medium {
    transform: scale(0);
    animation: bannerMoeda 10s ease infinite;
    animation-delay: 1s;
    transform-origin: center;
    transform-box: fill-box; }
  #banner-vector #wifi #small {
    transform: scale(0);
    animation: bannerMoeda 10s ease infinite;
    transform-origin: center;
    transform-box: fill-box; }
  #banner-vector #leaf {
    transform: rotate(0);
    animation: bannerLeaf 20s ease infinite;
    transform-origin: bottom;
    transform-box: fill-box; }

@keyframes bannerHead {
  0%,
  100% {
    transform: rotate(0deg); }
  30% {
    transform: rotate(10deg); }
  60% {
    transform: rotate(5deg); }
  80% {
    transform: rotate(7deg); } }

@keyframes bannerMoeda {
  0%,
  100% {
    transform: scale(0); }
  20%,
  80% {
    transform: scale(1); } }

@keyframes bannerLeaf {
  0%,
  100% {
    transform: rotate(0deg); }
  10% {
    transform: rotate(-10deg); }
  30% {
    transform: rotate(-5deg); }
  40% {
    transform: rotate(-7deg); }
  70% {
    transform: rotate(5deg); }
  80% {
    transform: rotate(7deg); } }

.como {
  position: relative;
  width: 100%;
  padding: 64px 0;
  background-color: #1250b3;
  z-index: 1;
  overflow-x: hidden; }
  .como .container {
    display: flex;
    flex-direction: column-reverse; }
  .como .como-wave-dark {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    z-index: -1; }

.como-txt {
  position: relative;
  margin-bottom: 32px;
  color: #fff; }
  .como-txt p {
    color: #fff; }

.como-img {
  width: 100%; }

#notebook-guys-vector {
  width: 100%;
  height: auto; }
  #notebook-guys-vector #line1 {
    animation: comoLine 5s ease infinite;
    transform-origin: center;
    transform-box: fill-box; }
  #notebook-guys-vector #line2 {
    animation: comoLine 5s ease infinite;
    transform-origin: center;
    transform-box: fill-box; }
  #notebook-guys-vector #woman-leg {
    animation: comoWomanleg 10s ease infinite;
    transform-origin: top;
    transform-box: fill-box; }
  #notebook-guys-vector #man-arm {
    animation: comoArms 10s ease infinite;
    transform-origin: 10% 0;
    transform-box: fill-box; }
  #notebook-guys-vector #woman-arm {
    animation: comoArms 10s ease infinite;
    transform-origin: right;
    transform-box: fill-box; }

@keyframes comoLine {
  0% {
    transform: scaleX(0); }
  60%,
  100% {
    transform: scaleX(1); } }

@keyframes comoWomanleg {
  0%,
  100% {
    transform: rotate(0deg); }
  10% {
    transform: rotate(-3deg); }
  30% {
    transform: rotate(2deg); }
  50% {
    transform: rotate(-1deg); }
  80% {
    transform: rotate(5deg); } }

@keyframes comoArms {
  0%,
  100% {
    transform: rotate(0deg); }
  10% {
    transform: rotate(-3deg); }
  30% {
    transform: rotate(2deg); }
  50% {
    transform: rotate(-1deg); }
  80% {
    transform: rotate(5deg); } }

.necessidade {
  width: 100%;
  background-color: #fff;
  padding: 64px 0 0; }
  .necessidade .container h2 {
    color: #1250b3;
    font-size: 32px; }

.necessidade-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.necessidade-items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  transform: translate3d(0, 64px, 0); }
  .necessidade-items li {
    display: flex;
    flex-direction: column; }
    .necessidade-items li .necessidade-img {
      height: 130px;
      padding: 32px 16px 8px;
      background-color: #f2f5f7; }
      .necessidade-items li .necessidade-img svg {
        width: 100%;
        height: auto;
        overflow: visible; }
    .necessidade-items li .necessidade-txt {
      padding: 16px;
      background-color: #1250b3;
      flex: 1; }
      .necessidade-items li .necessidade-txt span {
        display: block;
        color: #fff;
        font-size: 12px;
        text-align: center; }

#necessidade-compre #world {
  animation: necessidadeWorld 5s ease infinite;
  transform-origin: center;
  transform-box: fill-box; }

@keyframes necessidadeWorld {
  0%,
  100% {
    transform: rotate(0); }
  50% {
    transform: rotate(15deg); } }

#necessidade-envio #globo {
  animation: necessidadeGlobo 5s ease infinite;
  transform-origin: 50% 45%;
  transform-box: fill-box; }

@keyframes necessidadeGlobo {
  0%,
  100% {
    transform: rotate(0); }
  50% {
    transform: rotate(-20deg); } }

#necessidade-pague #hand {
  animation: necessidadeHand 5s ease infinite;
  transform-origin: center;
  transform-box: fill-box; }

@keyframes necessidadeHand {
  0%,
  100% {
    transform: translate3d(0, 0, 0); }
  50% {
    transform: translate3d(0, 16px, 0); } }

#necessidade-utilize #phone {
  transform: translate3d(0, 10px, 0);
  animation: necessidadePhone 5s ease infinite;
  transform-origin: center;
  transform-box: fill-box; }

#necessidade-utilize #euro {
  animation: necessidadeEuro 5s ease infinite;
  transform-origin: center;
  transform-box: fill-box; }

@keyframes necessidadePhone {
  0%,
  100% {
    transform: translate3d(0, 10px, 0); }
  50% {
    transform: translate3d(0, 0, 0); } }

@keyframes necessidadeEuro {
  0%,
  100% {
    transform: scale(0); }
  30%,
  70% {
    transform: scale(1); } }

.compromisso {
  width: 100%;
  background-color: #f2f5f7;
  padding: 128px 0 0; }
  .compromisso .container {
    display: flex;
    flex-direction: column; }

.compromisso-txt {
  position: relative; }
  .compromisso-txt p {
    margin: 0;
    color: #131617; }

.compromisso-img {
  margin: 32px 0 64px; }
  .compromisso-img:nth-of-type(3) {
    order: 4; }
  .compromisso-img svg {
    width: 100%;
    height: auto;
    overflow: visible; }

#protection-guys #clouds {
  animation: protectionClouds 40s ease infinite;
  transform-origin: center;
  transform-box: fill-box; }

#protection-guys #digital {
  opacity: 0;
  animation: protectionDigital 10s ease infinite;
  transform-origin: center;
  transform-box: fill-box; }

#protection-guys #authorized {
  opacity: 0;
  animation: protectionAuthorized 10s ease infinite;
  transform-origin: center;
  transform-box: fill-box; }

#protection-guys #locked {
  animation: protectionLocked 10s ease infinite;
  transform-origin: center;
  transform-box: fill-box; }

#protection-guys #credit_card {
  overflow: hidden; }

#protection-guys #reflex {
  transform: translate3d(-10%, 0, 0);
  animation: protectionReflex 10s ease infinite;
  transform-origin: center;
  transform-box: fill-box; }

#protection-guys #leaf_dark {
  animation: protectionLeaf 60s ease infinite;
  transform-origin: bottom;
  transform-box: fill-box; }

#protection-guys #leaf_light1 {
  animation: protectionLeaf 60s ease infinite;
  transform-origin: right;
  transform-box: fill-box; }

#protection-guys #leaf_light2 {
  animation: protectionLeaf 60s ease infinite;
  transform-origin: bottom;
  transform-box: fill-box; }

#protection-guys #phone_hand {
  animation: protectionPhoneHand 10s ease infinite;
  transform-origin: 100% 80%;
  transform-box: fill-box; }

#protection-guys #men_head {
  animation: protectionPhoneHand 10s ease infinite;
  transform-origin: 20% 100%;
  transform-box: fill-box; }

#world-guys #world_clouds {
  animation: protectionClouds 40s ease infinite;
  transform-origin: center;
  transform-box: fill-box; }

#world-guys #leaf_dark1 {
  animation: protectionLeaf 60s ease infinite;
  transform-origin: right;
  transform-box: fill-box; }

#world-guys #leaf_dark2 {
  animation: protectionLeaf 60s ease infinite;
  transform-origin: left;
  transform-box: fill-box; }

#world-guys #leaf_light {
  animation: protectionLeaf 60s ease infinite;
  transform-origin: left;
  transform-box: fill-box; }

#world-guys #world {
  animation: worldWorld 480s linear infinite;
  transform-origin: center;
  transform-box: fill-box; }

#world-guys #world_shadow {
  animation: worldShadow 480s linear infinite;
  transform-origin: center;
  transform-box: fill-box; }

#world-guys #woman_head {
  animation: worldWomanHead 10s linear infinite;
  transform-origin: 35% 100%;
  transform-box: fill-box; }

#world-guys #man_head {
  animation: worldWomanHead 10s linear infinite;
  transform-origin: 35% 100%;
  transform-box: fill-box; }

#world-guys #woman_foot1 {
  animation: protectionPhoneHand 10s linear infinite;
  transform-origin: 80% 0%;
  transform-box: fill-box; }

#world-guys #woman_foot2 {
  animation: protectionPhoneHand 10s linear infinite;
  transform-origin: top;
  transform-box: fill-box; }

@keyframes protectionClouds {
  0%,
  100% {
    transform: translate3d(0, 0, 0); }
  50% {
    transform: translate3d(15%, 0, 0); } }

@keyframes protectionDigital {
  0%,
  100% {
    opacity: 0; }
  20%,
  80% {
    opacity: 1; } }

@keyframes protectionReflex {
  0%,
  100% {
    transform: translate3d(-10%, 0, 0); }
  20%,
  80% {
    transform: translate3d(35%, 0, 0); } }

@keyframes protectionAuthorized {
  0%,
  10%,
  90%,
  100% {
    opacity: 0; }
  30%,
  70% {
    opacity: 1; } }

@keyframes protectionLocked {
  0%,
  100% {
    transform: translate3d(0, -15%, 0); }
  20%,
  80% {
    transform: translate3d(0, 0%, 0); } }

@keyframes protectionLeaf {
  0%,
  100% {
    transform: rotate(0deg); }
  20% {
    transform: rotate(-7deg); }
  30% {
    transform: rotate(-5deg); }
  40% {
    transform: rotate(-7deg); }
  70% {
    transform: rotate(5deg); }
  80% {
    transform: rotate(7deg); } }

@keyframes protectionPhoneHand {
  0%,
  100% {
    transform: rotate(0deg); }
  30% {
    transform: rotate(10deg); }
  60% {
    transform: rotate(5deg); }
  80% {
    transform: rotate(7deg); } }

@keyframes worldWorld {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

@keyframes worldShadow {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(-360deg); } }

@keyframes worldWomanHead {
  0%,
  100% {
    transform: rotate(0deg); }
  30% {
    transform: rotate(-8deg); }
  60% {
    transform: rotate(-5deg); }
  80% {
    transform: rotate(-7deg); } }

.economia {
  width: 100%;
  padding: 64px 0;
  background-color: #fff; }
  .economia .container {
    display: flex;
    align-items: center;
    flex-direction: column; }

.economia-txt {
  max-width: 600px;
  text-align: center; }
  .economia-txt p {
    line-height: 1.8rem; }

.economia-img {
  width: 100%;
  max-width: 860px; }
  .economia-img svg {
    overflow: visible;
    width: 100%;
    height: auto; }

#economia-guys #leafs {
  animation: protectionLeaf 60s ease infinite;
  transform-origin: 80% 100%;
  transform-box: fill-box; }

#economia-guys #leafs2 {
  animation: protectionLeaf 60s ease infinite;
  transform-origin: 20% 100%;
  transform-box: fill-box; }

#economia-guys #wifi #big,
#economia-guys #wifi-2 #big {
  transform: scale(0);
  animation: bannerMoeda 10s ease infinite;
  animation-delay: 2s;
  transform-origin: center;
  transform-box: fill-box; }

#economia-guys #wifi #medium,
#economia-guys #wifi-2 #medium {
  transform: scale(0);
  animation: bannerMoeda 10s ease infinite;
  animation-delay: 1s;
  transform-origin: center;
  transform-box: fill-box; }

#economia-guys #wifi #small,
#economia-guys #wifi-2 #small {
  transform: scale(0);
  animation: bannerMoeda 10s ease infinite;
  transform-origin: center;
  transform-box: fill-box; }

#economia-guys #wifi_circle-2,
#economia-guys #wifi_circle {
  animation: worldWorld 30s ease infinite;
  transform-origin: center;
  transform-box: fill-box; }

#economia-guys #airplane_paper {
  animation: economiaAirplane 10s ease infinite;
  transform-origin: center;
  transform-box: fill-box; }

#economia-guys #dolar {
  animation: economiaDolar 10s ease infinite;
  transform-origin: center;
  transform-box: fill-box; }

#economia-guys #woman_leg {
  animation: worldWomanHead 10s linear infinite;
  transform-origin: 90% 0%;
  transform-box: fill-box; }

@keyframes economiaAirplane {
  0%,
  100% {
    transform: translate3d(0, 0, 0); }
  20% {
    transform: translate3d(10%, 10%, 0); }
  70% {
    transform: translate3d(-15%, -15%, 0); } }

@keyframes economiaDolar {
  0%,
  100% {
    transform: scale(0.9); }
  50% {
    transform: scale(1.1); } }

.sobre-banner {
  position: relative;
  background-color: #f2f5f7;
  height: calc(100vh - 64px);
  min-height: 620px;
  z-index: 1; }
  .sobre-banner .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .sobre-banner .container h1 {
      color: #1250b3;
      font-size: 9vw;
      line-height: 9.5vw;
      font-weight: bold; }
    .sobre-banner .container p {
      font-weight: lighter; }
  .sobre-banner .circle1,
  .sobre-banner .circle2,
  .sobre-banner .circle3 {
    position: absolute;
    border-radius: 50%;
    background-color: #37a4d6;
    z-index: -1; }
  .sobre-banner .circle1 {
    bottom: 0;
    left: -20vw;
    width: 40vw;
    height: 40vw; }

#sobre-man {
  width: 100%;
  height: auto;
  overflow: visible; }
  #sobre-man #escudo {
    animation: sobreEscudo 5s ease infinite;
    transform-origin: center;
    transform-box: fill-box; }
  #sobre-man #locked {
    animation: protectionLocked 10s ease infinite;
    transform-origin: center;
    transform-box: fill-box; }
  #sobre-man #man_arm {
    animation: sobreArm 10s ease infinite;
    transform-origin: 100% 100%;
    transform-box: fill-box; }
  #sobre-man #shadow {
    animation: sobreShadow 5s ease infinite;
    transform-origin: center;
    transform-box: fill-box; }

@keyframes sobreEscudo {
  0%,
  100% {
    transform: translate3d(0, 0, 0); }
  50% {
    transform: translate3d(0, -2%, 0); } }

@keyframes sobreShadow {
  0%,
  100% {
    transform: scale(1); }
  50% {
    transform: scale(0.8); } }

@keyframes sobreArm {
  0%,
  100% {
    transform: rotate(0deg); }
  20% {
    transform: rotate(-3deg); }
  30% {
    transform: rotate(-1deg); }
  40% {
    transform: rotate(-3deg); }
  70% {
    transform: rotate(1deg); }
  80% {
    transform: rotate(3deg); } }

.historia {
  position: relative;
  width: 100%;
  padding: 0 0 64px;
  background-color: #f2f5f7;
  overflow: hidden;
  z-index: 1; }
  .historia .container {
    padding: 32px 16px;
    background-color: #fff;
    z-index: 1; }
    .historia .container h2 {
      color: #131617; }
    .historia .container .square2 {
      position: absolute;
      bottom: 5%;
      right: -10%;
      width: 100%;
      height: 65%;
      background-color: #37a4d6;
      z-index: -1; }
  .historia .square1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 70%;
    background-color: #1250b3;
    z-index: -1; }

.equipe {
  width: 100%;
  padding: 64px 0;
  background-color: #f2f5f7;
  overflow: hidden;
  z-index: 3; }
  .equipe .container h2 {
    position: relative;
    margin-bottom: 64px;
    color: #1250b3;
    font-size: 48px;
    font-weight: bold; }

.carrossel-equipe {
  position: relative;
  width: 100%;
  height: 610px; }
  .carrossel-equipe .carrossel-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center; }

.funcionario {
  height: 340px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s height ease-out; }
  .funcionario.active {
    height: 100%; }
  .funcionario .funcionario-img {
    width: 100%;
    height: 340px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .funcionario .funcionario-img .with-picture {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .funcionario .funcionario-img .without-picture {
      width: 100%; }
  .funcionario .funcionario-txt {
    height: 305px;
    padding: 32px;
    background-color: #fff;
    box-shadow: 0 80px 60px rgba(0, 0, 0, 0.16); }
    .funcionario .funcionario-txt h4 {
      font-weight: normal;
      color: #131617; }
    .funcionario .funcionario-txt p {
      color: #131617;
      font-size: 14px;
      letter-spacing: 0.02rem;
      font-weight: lighter; }
    .funcionario .funcionario-txt a {
      display: block;
      width: 46px;
      height: 46px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: #2489be; }
      .funcionario .funcionario-txt a svg {
        width: 32px;
        height: 32px;
        fill: #fff; }

.auditoria {
  position: relative;
  width: 100%;
  padding: 64px 0;
  background-color: #1250b3;
  z-index: 1; }
  .auditoria .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px; }
  .auditoria .auditoria-wave-left {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    transform: rotate(180deg);
    z-index: -1; }
  .auditoria .auditoria-wave-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: -1; }

.auditoria-content img {
  width: 84px; }

.auditoria-content h2 {
  position: relative;
  padding-top: 16px;
  margin-top: 32px;
  color: #fff; }

.auditoria-content p {
  color: #fff;
  font-weight: lighter; }

.junte-se {
  width: 100%;
  padding: 64px 0;
  background-color: #f2f5f7; }
  .junte-se .container h2 {
    color: #1250b3;
    font-size: 32px;
    font-weight: normal;
    text-align: center; }
  .junte-se .container p {
    margin-bottom: 64px;
    text-align: center; }

#equipe-guys {
  width: 100%;
  height: auto;
  overflow: visible; }
  #equipe-guys #woman_arm {
    animation: protectionPhoneHand 10s ease infinite;
    transform-origin: 10% 0%;
    transform-box: fill-box; }
  #equipe-guys #woman_arm_2 {
    animation: protectionPhoneHand 10s ease infinite;
    transform-origin: 100% 40%;
    transform-box: fill-box; }
  #equipe-guys #man_arm {
    animation: protectionPhoneHand 10s ease infinite;
    transform-origin: 20% 100%;
    transform-box: fill-box; }
  #equipe-guys #man_arm_2 {
    animation: protectionPhoneHand 10s ease infinite;
    transform-origin: 90% 0%;
    transform-box: fill-box; }

.sobre-demais {
  position: relative;
  width: 100%;
  padding: 64px 0;
  background-color: #fff; }
  .sobre-demais .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px; }

.sobre-demais-item {
  position: relative;
  padding-top: 16px; }
  .sobre-demais-item h2 {
    color: #1250b3;
    font-weight: bold; }
  .sobre-demais-item p {
    font-weight: lighter; }

.banner-solucoes {
  width: 100%;
  padding: 16px 0 64px; }
  .banner-solucoes .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }

.banner-solucoes-txt {
  margin-bottom: 32px; }
  .banner-solucoes-txt h1 {
    color: #1250b3;
    font-size: 28px; }
  .banner-solucoes-txt h2 {
    margin: 16px 0;
    font-size: 24px; }

.banner-solucoes-img {
  width: 100%; }
  .banner-solucoes-img svg {
    width: 100%;
    height: auto; }

#city-guys {
  width: 100%;
  height: auto;
  overflow: visible; }
  #city-guys #man_head {
    animation: solucoesManHead 10s ease infinite;
    transform-origin: 100% 100%;
    transform-box: fill-box; }
  #city-guys #man {
    animation: solucoesMan 10s ease infinite;
    transform-origin: 100% 100%;
    transform-box: fill-box; }
  #city-guys #woman {
    animation: solucoesWoman 10s ease infinite;
    transform-origin: 100% 100%;
    transform-box: fill-box; }
  #city-guys #woman_hair {
    animation: solucoesManHead 15s ease infinite;
    transform-origin: 10% 10%;
    transform-box: fill-box; }

@keyframes solucoesManHead {
  0%,
  100% {
    transform: rotate(0deg); }
  20% {
    transform: rotate(-5deg); }
  30% {
    transform: rotate(-2deg); }
  40% {
    transform: rotate(-5deg); }
  70% {
    transform: rotate(2deg); }
  80% {
    transform: rotate(5deg); } }

@keyframes solucoesMan {
  0%,
  100% {
    transform: skewX(0); }
  20% {
    transform: skewX(0.5deg); }
  40% {
    transform: skewX(-0.5deg); }
  70% {
    transform: skewX(0deg); }
  80% {
    transform: skewX(-1deg); } }

@keyframes solucoesWoman {
  0%,
  100% {
    transform: skewX(0); }
  20% {
    transform: skewX(1deg); }
  40% {
    transform: skewX(1.5deg); }
  70% {
    transform: skewX(0deg); }
  80% {
    transform: skewX(-0.5deg); } }

.fazer-pagamentos {
  padding: 64px 0;
  background-color: #f2f5f7; }
  .fazer-pagamentos h2 {
    color: #1250b3;
    text-align: center; }

#pagamento-1 {
  height: auto;
  overflow: visible; }
  #pagamento-1 #hand {
    animation: pagamentoHand 5s ease infinite;
    transform-origin: 50% 50%;
    transform-box: fill-box; }

@keyframes pagamentoHand {
  0%,
  100% {
    transform: translate3d(0, 0, 0); }
  50% {
    transform: translate3d(0, 10px, 0); } }

#pagamento-2 {
  height: auto;
  overflow: visible; }
  #pagamento-2 #moedas {
    animation: pagamentoMoedas 5s ease infinite;
    transform-origin: 50% 50%;
    transform-box: fill-box; }

@keyframes pagamentoMoedas {
  0% {
    transform: rotate(0deg); }
  50%,
  100% {
    transform: rotate(360deg); } }

#pagamento-3 {
  height: auto;
  overflow: visible; }
  #pagamento-3 #hand {
    animation: pagamentoHand2 5s ease infinite;
    transform-origin: 100% 50%;
    transform-box: fill-box; }

@keyframes pagamentoHand2 {
  0%,
  100% {
    transform: scaleX(1); }
  50% {
    transform: scaleX(0.9); } }

.como-funcionam {
  width: 100%;
  padding: 64px 0;
  background-color: #1250b3; }
  .como-funcionam h2,
  .como-funcionam p {
    color: #fff;
    text-align: center; }

#suporte {
  height: auto;
  overflow: visible; }
  #suporte #dot_1 {
    animation: funcionamDot1 2s ease infinite;
    transform-origin: 50% 50%;
    transform-box: fill-box; }
  #suporte #dot_2 {
    animation: funcionamDot2 2s ease infinite;
    transform-origin: 50% 50%;
    transform-box: fill-box; }
  #suporte #dot_3 {
    animation: funcionamDot3 2s ease infinite;
    transform-origin: 50% 50%;
    transform-box: fill-box; }

@keyframes funcionamDot1 {
  0%,
  4% {
    opacity: 0; }
  5%,
  100% {
    opacity: 1; } }

@keyframes funcionamDot2 {
  0%,
  32% {
    opacity: 0; }
  33%,
  100% {
    opacity: 1; } }

@keyframes funcionamDot3 {
  0%,
  64% {
    opacity: 0; }
  66%,
  100% {
    opacity: 1; } }

#conjunto {
  height: auto;
  overflow: visible; }
  #conjunto #download {
    animation: funcionamDownload 5s ease infinite;
    transform-origin: 50% 50%;
    transform-box: fill-box; }

@keyframes funcionamDownload {
  0%,
  100% {
    transform: translate3d(0, 0, 0); }
  50% {
    transform: translate3d(0, 5px, 0); } }

#monitoramento {
  height: auto;
  overflow: visible; }
  #monitoramento #circle {
    animation: funcionamCircle 5s ease infinite;
    transform-origin: 50% 50%;
    transform-box: fill-box; }

@keyframes funcionamCircle {
  0%,
  100% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); } }

.padroes-monitoramento {
  width: 100%;
  padding: 64px 0;
  background-color: #f2f5f7; }
  .padroes-monitoramento h2 {
    color: #1250b3;
    text-align: center; }

.apoio {
  display: flex;
  flex-direction: column; }
  .apoio .apoio-txt {
    margin-top: 64px; }
    .apoio .apoio-txt h3 {
      position: relative;
      color: #1250b3;
      font-size: 36px; }
      .apoio .apoio-txt h3::before {
        content: '';
        position: absolute;
        top: -16px;
        left: 0;
        width: 60px;
        height: 4px;
        background-color: #00c3ff; }
    .apoio .apoio-txt p {
      font-size: 22px;
      line-height: 32px;
      font-weight: lighter; }
  .apoio .apoio-img {
    width: 100%;
    margin-top: 64px; }
    .apoio .apoio-img svg {
      width: 100%;
      height: auto; }

#engine-guys {
  width: 100%;
  height: auto;
  overflow: visible; }
  #engine-guys #engrenagem_1,
  #engine-guys #engrenagem_3 {
    animation: padroesEngrenagem1 60s linear infinite;
    transform-origin: 50% 50%;
    transform-box: fill-box; }
  #engine-guys #engrenagem_2 {
    animation: padroesEngrenagem1 60s linear infinite reverse;
    transform-origin: 50% 50%;
    transform-box: fill-box; }
  #engine-guys #phone_arm {
    animation: padroesArm 15s linear infinite;
    transform-origin: 0% 100%;
    transform-box: fill-box; }
  #engine-guys #man_arm {
    animation: padroesArm 15s linear infinite;
    transform-origin: 100% 100%;
    transform-box: fill-box; }
  #engine-guys #woman_arm {
    animation: padroesArm 15s linear infinite reverse;
    transform-origin: 0% 0%;
    transform-box: fill-box; }
  #engine-guys #coffe_arm {
    animation: padroesArm 15s linear infinite;
    transform-origin: 0% 0%;
    transform-box: fill-box; }
  #engine-guys #woman_head {
    animation: padroesArm 15s linear infinite reverse;
    transform-origin: 20% 100%;
    transform-box: fill-box; }

@keyframes padroesEngrenagem1 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes padroesArm {
  0%,
  100% {
    transform: rotate(0deg); }
  20% {
    transform: rotate(-3deg); }
  30% {
    transform: rotate(-2deg); }
  40% {
    transform: rotate(-4deg); }
  70% {
    transform: rotate(2deg); }
  80% {
    transform: rotate(3deg); } }

.happ {
  width: 100%;
  padding: 64px 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow-x: hidden; }

.happ-txt {
  margin-bottom: 32px; }
  .happ-txt img {
    width: 200px; }
  .happ-txt p {
    margin: 32px 0;
    color: #fff; }

.happ-img {
  position: relative;
  width: 100%;
  height: 120vw; }
  .happ-img .phone-back {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 110%;
    transform: translate3d(-50%, 0, 0); }
  .happ-img .phone-front {
    position: absolute;
    bottom: 0%;
    left: 50%;
    width: 110%;
    transform: translate3d(-50%, 0, 0); }

.transferencia {
  width: 100%;
  padding: 64px 0; }
  .transferencia .container {
    display: grid;
    gap: 64px; }

.transferencia-img {
  width: 100%; }
  .transferencia-img svg {
    width: 100%;
    height: auto; }
  .transferencia-img:nth-of-type(3) {
    order: 1; }

#palacio-woman {
  width: 100%;
  height: auto;
  overflow: visible; }
  #palacio-woman #leaf_1 {
    animation: transferenciaLeaf 10s ease infinite;
    transform-origin: 100% 100%;
    transform-box: fill-box; }
  #palacio-woman #leaf_2 {
    animation: transferenciaLeaf 10s ease infinite reverse;
    transform-origin: 100% 100%;
    transform-box: fill-box; }
  #palacio-woman #leaf_3 {
    animation: transferenciaLeaf 10s ease infinite;
    transform-origin: 0% 100%;
    transform-box: fill-box; }
  #palacio-woman #leaf_4 {
    animation: transferenciaLeaf 10s ease infinite reverse;
    transform-origin: 0% 100%;
    transform-box: fill-box; }
  #palacio-woman #dolar {
    animation: transferenciaDolar 5s ease infinite;
    transform-origin: 50% 50%;
    transform-box: fill-box; }
  #palacio-woman #left_arm {
    animation: transferenciaLeaf 10s ease infinite;
    transform-origin: 20% 10%;
    transform-box: fill-box; }
  #palacio-woman #right_arm {
    animation: transferenciaLeaf 10s ease infinite reverse;
    transform-origin: 20% 10%;
    transform-box: fill-box; }
  #palacio-woman #head {
    animation: transferenciaLeaf 10s ease infinite;
    transform-origin: 50% 100%;
    transform-box: fill-box; }

#phone-woman {
  width: 100%;
  height: auto;
  overflow: visible; }
  #phone-woman #leaf_1 {
    animation: transferenciaLeaf 10s ease infinite;
    transform-origin: 100% 100%;
    transform-box: fill-box; }
  #phone-woman #leaf_2 {
    animation: transferenciaLeaf 10s ease infinite reverse;
    transform-origin: 100% 100%;
    transform-box: fill-box; }
  #phone-woman #leaf_3 {
    animation: transferenciaLeaf 10s ease infinite;
    transform-origin: 0% 100%;
    transform-box: fill-box; }
  #phone-woman #leaf_4,
  #phone-woman #leaf_5 {
    animation: transferenciaLeaf 10s ease infinite reverse;
    transform-origin: 0% 100%;
    transform-box: fill-box; }
  #phone-woman #woman {
    animation: transferenciaWoman 10s ease infinite;
    transform-origin: 50% 100%;
    transform-box: fill-box; }

@keyframes transferenciaLeaf {
  0%,
  100% {
    transform: rotate(0deg); }
  20% {
    transform: rotate(-5deg); }
  40% {
    transform: rotate(-2deg); }
  50% {
    transform: rotate(-5deg); }
  70% {
    transform: rotate(2deg); }
  80% {
    transform: rotate(5deg); } }

@keyframes transferenciaDolar {
  0%,
  100% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); } }

@keyframes transferenciaWoman {
  0%,
  100% {
    transform: skewX(0); }
  20% {
    transform: skewX(1deg); }
  40% {
    transform: skewX(1.5deg); }
  70% {
    transform: skewX(0deg); }
  80% {
    transform: skewX(-0.5deg); } }

.como-receber {
  padding: 64px 0;
  background-color: #f2f5f7; }
  .como-receber h2 {
    color: #1250b3;
    text-align: center; }

.para-provedores {
  position: relative;
  width: 100%;
  padding: 64px 0;
  background-color: #1250b3;
  z-index: 1; }
  .para-provedores .wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1; }
  .para-provedores h2,
  .para-provedores p {
    color: #fff; }

.para-comerciantes {
  width: 100%;
  padding: 64px 0; }

.para-comerciantes-img {
  width: 100%;
  margin-top: 32px; }
  .para-comerciantes-img svg {
    width: 100%;
    height: auto; }

#maleta-guys {
  width: 100%;
  height: auto;
  overflow: visible; }
  #maleta-guys #balao {
    animation: comercianteBalao 10s ease infinite;
    transform-origin: 100% 100%;
    transform-box: fill-box; }
  #maleta-guys #man_paper {
    animation: comerciantePaper 10s ease infinite;
    transform-origin: 50% 90%;
    transform-box: fill-box; }
  #maleta-guys #man_hand {
    animation: comercianteHand 10s ease infinite;
    transform-origin: 100% 95%;
    transform-box: fill-box; }
  #maleta-guys #man_arm {
    animation: comercianteHand 10s ease infinite;
    transform-origin: 10% 5%;
    transform-box: fill-box; }
  #maleta-guys #head_man {
    animation: comercianteHand 10s ease infinite;
    transform-origin: 100% 95%;
    transform-box: fill-box; }

@keyframes comercianteBalao {
  0%,
  100% {
    transform: translate3d(0, 0, 0); }
  50% {
    transform: translate3d(2px, 5px, 0); } }

@keyframes comerciantePaper {
  0%,
  100% {
    transform: scale(1); }
  50% {
    transform: scale(0.9); } }

@keyframes comercianteHand {
  0%,
  100% {
    transform: rotate(0deg); }
  20% {
    transform: rotate(-5deg); }
  40% {
    transform: rotate(-2deg); }
  50% {
    transform: rotate(-5deg); }
  70% {
    transform: rotate(2deg); }
  80% {
    transform: rotate(5deg); } }

.item-with-svg-wrapper {
  width: 100%;
  margin-top: 64px;
  display: grid;
  gap: 32px; }

.item-with-svg {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .item-with-svg p {
    position: relative;
    max-width: 260px;
    margin-top: 32px;
    text-align: center; }
    .item-with-svg p::before {
      content: '';
      position: absolute;
      top: -16px;
      left: 50%;
      width: 100px;
      height: 4px;
      transform: translate3d(-50%, 0, 0);
      background-color: #00c3ff; }

.cobertura-banner {
  position: relative;
  width: 100%;
  padding: 32px 0 0;
  z-index: 1; }
  .cobertura-banner .banner-wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1; }

.banner-cobertura-txt {
  margin-bottom: 32px; }
  .banner-cobertura-txt h1 {
    color: #1250b3;
    font-size: 44px;
    line-height: 50px; }

.banner-cobertura-img {
  width: 100%;
  display: flex; }
  .banner-cobertura-img svg {
    width: 100%;
    height: auto; }

#conexao {
  width: 100%;
  height: auto;
  overflow: visible; }
  #conexao #star_1,
  #conexao #star_3,
  #conexao #star_5,
  #conexao #star_7 {
    animation: coberturaStar 10s ease infinite;
    transform-origin: 50% 50%;
    transform-box: fill-box; }
  #conexao #star_2,
  #conexao #star_4,
  #conexao #star_6,
  #conexao #star_8 {
    animation: coberturaStar 10s ease infinite reverse;
    transform-origin: 50% 50%;
    transform-box: fill-box; }
  #conexao #cloud_1 {
    animation: coberturaCloud 30s ease infinite;
    transform-origin: 50% 50%;
    transform-box: fill-box; }
  #conexao #cloud_2 {
    animation: coberturaCloud 30s ease infinite reverse;
    transform-origin: 50% 50%;
    transform-box: fill-box; }
  #conexao #man_1,
  #conexao #man_3,
  #conexao #woman_1 {
    animation: coberturaMan 10s ease infinite;
    transform-origin: 50% 100%;
    transform-box: fill-box; }
  #conexao #man_2,
  #conexao #woman_2 {
    animation: coberturaMan 10s ease infinite reverse;
    transform-origin: 50% 100%;
    transform-box: fill-box; }

@keyframes coberturaStar {
  0%,
  100% {
    opacity: 0;
    transform: scale(1); }
  20% {
    opacity: 0.9;
    transform: scale(0.8); }
  30% {
    opacity: 0.7;
    transform: scale(1.1); }
  40% {
    opacity: 1;
    transform: scale(0.95); }
  70% {
    opacity: 0.8;
    transform: scale(1.05); }
  80% {
    opacity: 1;
    transform: scale(0.9); } }

@keyframes coberturaCloud {
  0%,
  100% {
    transform: translate3d(0, 0, 0); }
  50% {
    transform: translate3d(50%, 0, 0); } }

@keyframes coberturaMan {
  0%,
  100% {
    transform: skewX(0); }
  20% {
    transform: skewX(1deg); }
  50% {
    transform: skewX(-1deg); }
  70% {
    transform: skewX(0deg); }
  80% {
    transform: skewX(-1deg); } }

.cobertura {
  width: 100%;
  padding: 64px 0;
  background-color: #f2f5f7; }
  .cobertura h2 {
    color: #1250b3;
    margin-bottom: 32px; }

.continente {
  margin-bottom: 32px;
  border-top: 1px solid #707070;
  height: 56px;
  overflow: hidden; }
  .continente.ativo {
    height: auto; }
    .continente.ativo .continente-name img {
      transform: rotate(90deg); }
  .continente .continente-name {
    width: 100%;
    padding: 32px 16px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    box-shadow: none;
    cursor: pointer; }
    .continente .continente-name img {
      margin-right: 16px; }
    .continente .continente-name h3 {
      color: #131617; }

.pais-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px; }

.pais {
  display: flex;
  align-items: center; }
  .pais img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    margin-right: 16px;
    border-radius: 50%; }
  .pais h4 {
    color: #131617;
    font-weight: normal; }

.newsletter {
  width: 100%;
  padding: 16px 0;
  background-color: #f2f5f7; }
  .newsletter .container {
    display: flex;
    align-items: center;
    flex-direction: column; }
    .newsletter .container h4 {
      margin-bottom: 16px;
      color: #131617;
      font-size: 20px;
      font-weight: normal;
      letter-spacing: 0.03rem; }
    .newsletter .container form {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .newsletter .container form .form-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .newsletter .container form .form-wrapper > input {
          width: 100%;
          padding: 16px;
          margin: 8px 0;
          background-color: #fff;
          border: none;
          color: #b2b4b6;
          letter-spacing: 0.02rem; }
      .newsletter .container form .wpcf7-list-item {
        width: 100%;
        display: flex;
        align-items: center;
        margin: 0; }
        .newsletter .container form .wpcf7-list-item input {
          margin-right: 8px; }
        .newsletter .container form .wpcf7-list-item span {
          color: #b2b4b6;
          font-size: 12px; }
      .newsletter .container form input[type='submit'] {
        padding: 8px 32px;
        margin-top: 32px;
        display: inline-block;
        background-color: #002740;
        border-radius: 32px;
        border: 2px solid #002740;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        transition: 0.3s background-color, 0.3s color;
        transition-timing-function: ease-out; }
        .newsletter .container form input[type='submit']:hover {
          background-color: #fff;
          color: #002740; }

.footer {
  width: 100%;
  padding: 32px 0;
  background-color: #00223f; }

.footer-header {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .footer-header .logo-footer {
    width: 130px; }

.footer-social {
  display: flex;
  align-items: center; }
  .footer-social a {
    padding: 8px;
    box-sizing: content-box; }
    .footer-social a svg {
      width: 16px;
      height: 16px;
      fill: #fff; }

#menu-sitemap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 280px; }
  #menu-sitemap li {
    width: 50%; }
    #menu-sitemap li a {
      height: 35px;
      display: flex;
      align-items: center;
      color: #fff;
      font-size: 12px;
      letter-spacing: 0.03rem;
      text-transform: uppercase; }

@keyframes reset {
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1) rotate(0);
    visibility: visible; } }

