* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif; }

ul,
ol,
li {
  list-style: none; }

a {
  text-decoration: none; }

.container {
  width: 90%;
  max-width: 1050px;
  margin: 0 auto; }

.btn-cta {
  padding: 8px 32px;
  display: inline-block;
  background-color: #37a4d6;
  border-radius: 32px;
  border: 2px solid #37a4d6;
  color: #fff;
  font-size: 14px;
  transition: 0.3s background-color, 0.3s color;
  transition-timing-function: ease-out; }
  .btn-cta:hover {
    background-color: #fff;
    color: #37a4d6; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px 0;
  background-color: #fff;
  z-index: 999; }
  .header nav {
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }

.header-buttons {
  display: flex;
  align-items: center; }

.choose-language {
  position: relative;
  height: 16px; }
  .choose-language.active ul {
    display: block; }
  .choose-language.active .current img {
    transform: rotate(180deg); }
  .choose-language .current {
    display: flex;
    align-items: center;
    color: #1250b3; }
    .choose-language .current img {
      width: 12px;
      margin-left: 4px; }
  .choose-language ul {
    position: absolute;
    top: calc(100% + 8px);
    left: 50%;
    padding: 8px;
    display: none;
    background-color: #fff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    transform: translate3d(-50%, 0, 0); }
    .choose-language ul a {
      padding: 4px;
      display: block;
      color: #131617; }

.header-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 70vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate3d(70vw, 0, 0);
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: 0.5s transform ease-out; }
  .header-wrapper.active {
    transform: translate3d(0, 0, 0); }
  .header-wrapper ul {
    display: flex;
    align-items: center;
    flex-direction: column; }
    .header-wrapper ul a {
      display: block;
      padding: 8px;
      text-align: center;
      color: #131617;
      text-transform: uppercase; }
  .header-wrapper .btn-cta {
    margin-top: 16px; }

.menu-hamb {
  width: 32px;
  height: 24px;
  margin-left: 16px;
  padding: 4px;
  background-color: transparent;
  border: none; }
  .menu-hamb::before, .menu-hamb::after {
    content: ''; }
  .menu-hamb::before, .menu-hamb::after,
  .menu-hamb span {
    width: 100%;
    height: 2px;
    display: block;
    background-color: #1250b3;
    margin-bottom: 4px;
    transition: 0.5s transform ease-out; }
  .menu-hamb.active::before {
    transform: rotate(-45deg) translate3d(-4px, 4px, 0); }
  .menu-hamb.active span {
    transform: rotate(45deg); }
  .menu-hamb.active::after {
    transform: scale(0); }

@keyframes reset {
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1) rotate(0);
    visibility: visible; } }

