#mouse-vector #scroll {
  animation: scroll 3s ease infinite;
  transform-origin: top;
  transform-box: fill-box;
}

@keyframes scroll {
  0% {
    transform: scale(0);
  }

  60%,
  100% {
    transform: scale(1);
  }
}
