.banner-solucoes {
  width: 100%;
  padding: 16px 0 64px;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.banner-solucoes-txt {
  max-width: 480px;
  margin-bottom: 32px;

  h1 {
    color: $blue;
    font-size: 28px;
  }

  h2 {
    margin: 16px 0;
    font-size: 24px;
  }

  p {
    max-width: 380px;
  }
}

.banner-solucoes-img {
  width: 100%;
  max-width: 520px;
  align-self: center;

  svg {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  .banner-solucoes-txt {
    h1 {
      font-size: 46px;
      line-height: 52px;
    }

    h2 {
      font-size: 36px;
      line-height: 42px;
    }
  }
}

@import './svg/bannerVector';
