.padroes-monitoramento {
  width: 100%;
  padding: 64px 0;
  background-color: $lightGrey;

  .container {
    display: flex;
    flex-direction: column;

    h2 {
      max-width: 560px;
      align-self: center;
      color: $blue;
      text-align: center;
    }
  }
}

.apoio {
  display: flex;
  flex-direction: column;

  .apoio-txt {
    margin-top: 64px;

    h3 {
      position: relative;
      color: $blue;
      font-size: 36px;

      &::before {
        content: '';
        position: absolute;
        top: -16px;
        left: 0;
        width: 60px;
        height: 4px;
        background-color: $shineBlue;
      }
    }

    p {
      font-size: 22px;
      line-height: 32px;
      font-weight: lighter;
    }
  }

  .apoio-img {
    width: 100%;
    margin-top: 64px;

    svg {
      width: 100%;
      height: auto;
    }
  }
}

@media screen and (min-width: 768px) {
  .padroes-monitoramento {
    padding: 128px 0;

    .container h2 {
      font-size: 32px;
      line-height: 38px;
    }
  }

  .apoio {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;

    .apoio-txt {
      max-width: 520px;
      margin-right: 64px;

      p {
        margin: 32px 0;
      }

      a {
        padding: 8px 92px;
      }
    }

    .apoio-img {
      margin: 0;
    }
  }
}

@media screen and (min-width: 1050px) {
  .apoio {
    margin-top: 128px;
  }
}

@import './svg/padroesVector';
