.para-provedores {
  position: relative;
  width: 100%;
  padding: 64px 0;
  background-color: $blue;
  z-index: 1;

  .wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }

  h2,
  p {
    color: #fff;
    max-width: 400px;
  }
}

@media screen and (min-width: 768px) {
  .para-provedores {
    padding: 128px 0;

    .wave {
      left: unset;
      right: 0;
      width: auto;
      height: 100%;
    }

    .item-with-svg-wrapper {
      grid-template-columns: repeat(4, 1fr);
    }

    h2 {
      font-size: 32px;
      line-height: 38px;
    }
  }
}
