.para-provedores {
  position: relative;
  width: 100%;
  padding: 64px 0;
  background-color: $blue;
  z-index: 1;

  .wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }

  h2,
  p {
    color: #fff;
  }
}
