.transferencia {
  width: 100%;
  padding: 64px 0;

  .container {
    display: grid;
    gap: 64px;
  }
}

.transferencia-img {
  width: 100%;

  svg {
    width: 100%;
    height: auto;
  }

  &:nth-of-type(3) {
    order: 1;
  }
}

@media screen and (min-width: 768px) {
  .transferencia {
    padding: 128px 0;

    .container {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
  }

  .transferencia-img:nth-of-type(3) {
    order: 0;
  }
}

@import './svg/transferenciaVector';
