.transferencia {
  width: 100%;
  padding: 64px 0;

  .container {
    display: grid;
    gap: 64px;
  }
}

.transferencia-img {
  width: 100%;

  svg {
    width: 100%;
    height: auto;
  }

  &:nth-of-type(3) {
    order: 1;
  }
}

@import './svg/transferenciaVector';
