.contato-banner {
  width: 100%;
  padding: 32px 0 64px;
}

.banner-contato-txt {
  margin-bottom: 32px;

  h1 {
    color: $blue;
    font-size: 44px;
    line-height: 50px;
  }
}

.banner-contato-img {
  width: 100%;
  display: flex;

  svg {
    width: 100%;
    height: auto;
  }
}

@import './svg/bannerVector';
