#maleta-guys {
  width: 100%;
  height: auto;
  overflow: visible;

  #balao {
    animation: comercianteBalao 10s ease infinite;
    transform-origin: 100% 100%;
    transform-box: fill-box;
  }

  #man_paper {
    animation: comerciantePaper 10s ease infinite;
    transform-origin: 50% 90%;
    transform-box: fill-box;
  }

  #man_hand {
    animation: comercianteHand 10s ease infinite;
    transform-origin: 100% 95%;
    transform-box: fill-box;
  }

  #man_arm {
    animation: comercianteHand 10s ease infinite;
    transform-origin: 10% 5%;
    transform-box: fill-box;
  }

  #head_man {
    animation: comercianteHand 10s ease infinite;
    transform-origin: 100% 95%;
    transform-box: fill-box;
  }
}

@keyframes comercianteBalao {
  0%,
  100% {
    transform: translate3d(0, 0, 0);
  }

  50% {
    transform: translate3d(2px, 5px, 0);
  }
}

@keyframes comerciantePaper {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }
}

@keyframes comercianteHand {
  0%,
  100% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(-5deg);
  }

  40% {
    transform: rotate(-2deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  70% {
    transform: rotate(2deg);
  }

  80% {
    transform: rotate(5deg);
  }
}
