.seguranca-banner {
  position: relative;
  width: 100%;
  padding: 32px 0;
  z-index: 1;
  overflow: hidden;

  .container {
    display: flex;
    flex-direction: column;
  }

  .banner-wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    z-index: -1;
  }
}

.banner-seguranca-txt {
  margin-bottom: 32px;
  max-width: 380px;

  h1 {
    color: $blue;
    font-size: 44px;
    line-height: 50px;
  }
}

.banner-seguranca-img {
  width: 100%;
  max-width: 460px;
  align-self: center;
  display: flex;

  svg {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  .banner-seguranca-txt {
    h1 {
      font-size: 64px;
      line-height: 72px;
    }
  }
}

@media screen and (min-width: 768px) {
  .seguranca-banner {
    height: 90vh;
    min-height: 600px;
    max-height: 800px;
    padding: 0;

    .container {
      height: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .banner-wave {
      width: 100%;
    }
  }

  .banner-seguranca-txt {
    margin-bottom: 0;
  }
}

@import './svg/bannerVector';
